/* Basier Circle */
@font-face {
  font-family: 'Basier Circle';
  src: url("/assets/fonts/basiercircle-bolditalic-webfont.eot");
  src: url("/assets/fonts/basiercircle-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiercircle-bolditalic-webfont.woff2") format("woff2"), url("/assets/fonts/basiercircle-bolditalic-webfont.woff") format("woff"), url("/assets/fonts/basiercircle-bolditalic-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Circle';
  src: url("/assets/fonts/basiercircle-bold-webfont.eot");
  src: url("/assets/fonts/basiercircle-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiercircle-bold-webfont.woff2") format("woff2"), url("/assets/fonts/basiercircle-bold-webfont.woff") format("woff"), url("/assets/fonts/basiercircle-bold-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  src: url("/assets/fonts/basiercircle-mediumitalic-webfont.eot");
  src: url("/assets/fonts/basiercircle-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiercircle-mediumitalic-webfont.woff2") format("woff2"), url("/assets/fonts/basiercircle-mediumitalic-webfont.woff") format("woff"), url("/assets/fonts/basiercircle-mediumitalic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Circle';
  src: url("/assets/fonts/basiercircle-medium-webfont.eot");
  src: url("/assets/fonts/basiercircle-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiercircle-medium-webfont.woff2") format("woff2"), url("/assets/fonts/basiercircle-medium-webfont.woff") format("woff"), url("/assets/fonts/basiercircle-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  src: url("/assets/fonts/basiercircle-regularitalic-webfont.eot");
  src: url("/assets/fonts/basiercircle-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiercircle-regularitalic-webfont.woff2") format("woff2"), url("/assets/fonts/basiercircle-regularitalic-webfont.woff") format("woff"), url("/assets/fonts/basiercircle-regularitalic-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Circle';
  src: url("/assets/fonts/basiercircle-regular-webfont.eot");
  src: url("/assets/fonts/basiercircle-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiercircle-regular-webfont.woff2") format("woff2"), url("/assets/fonts/basiercircle-regular-webfont.woff") format("woff"), url("/assets/fonts/basiercircle-regular-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  src: url("/assets/fonts/basiercircle-semibolditalic-webfont.eot");
  src: url("/assets/fonts/basiercircle-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiercircle-semibolditalic-webfont.woff2") format("woff2"), url("/assets/fonts/basiercircle-semibolditalic-webfont.woff") format("woff"), url("/assets/fonts/basiercircle-semibolditalic-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Circle';
  src: url("/assets/fonts/basiercircle-semibold-webfont.eot");
  src: url("/assets/fonts/basiercircle-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiercircle-semibold-webfont.woff2") format("woff2"), url("/assets/fonts/basiercircle-semibold-webfont.woff") format("woff"), url("/assets/fonts/basiercircle-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Basier Square */
@font-face {
  font-family: 'Basier Square';
  src: url("/assets/fonts/basiersquare-bolditalic-webfont.eot");
  src: url("/assets/fonts/basiersquare-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiersquare-bolditalic-webfont.woff2") format("woff2"), url("/assets/fonts/basiersquare-bolditalic-webfont.woff") format("woff"), url("/assets/fonts/basiersquare-bolditalic-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Square';
  src: url("/assets/fonts/basiersquare-bold-webfont.eot");
  src: url("/assets/fonts/basiersquare-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiersquare-bold-webfont.woff2") format("woff2"), url("/assets/fonts/basiersquare-bold-webfont.woff") format("woff"), url("/assets/fonts/basiersquare-bold-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src: url("/assets/fonts/basiersquare-mediumitalic-webfont.eot");
  src: url("/assets/fonts/basiersquare-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiersquare-mediumitalic-webfont.woff2") format("woff2"), url("/assets/fonts/basiersquare-mediumitalic-webfont.woff") format("woff"), url("/assets/fonts/basiersquare-mediumitalic-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Square';
  src: url("/assets/fonts/basiersquare-medium-webfont.eot");
  src: url("/assets/fonts/basiersquare-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiersquare-medium-webfont.woff2") format("woff2"), url("/assets/fonts/basiersquare-medium-webfont.woff") format("woff"), url("/assets/fonts/basiersquare-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src: url("/assets/fonts/basiersquare-regularitalic-webfont.eot");
  src: url("/assets/fonts/basiersquare-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiersquare-regularitalic-webfont.woff2") format("woff2"), url("/assets/fonts/basiersquare-regularitalic-webfont.woff") format("woff"), url("/assets/fonts/basiersquare-regularitalic-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Square';
  src: url("/assets/fonts/basiersquare-regular-webfont.eot");
  src: url("/assets/fonts/basiersquare-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiersquare-regular-webfont.woff2") format("woff2"), url("/assets/fonts/basiersquare-regular-webfont.woff") format("woff"), url("/assets/fonts/basiersquare-regular-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Square';
  src: url("/assets/fonts/basiersquare-semibolditalic-webfont.eot");
  src: url("/assets/fonts/basiersquare-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiersquare-semibolditalic-webfont.woff2") format("woff2"), url("/assets/fonts/basiersquare-semibolditalic-webfont.woff") format("woff"), url("/assets/fonts/basiersquare-semibolditalic-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Basier Square';
  src: url("/assets/fonts/basiersquare-semibold-webfont.eot");
  src: url("/assets/fonts/basiersquare-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/basiersquare-semibold-webfont.woff2") format("woff2"), url("/assets/fonts/basiersquare-semibold-webfont.woff") format("woff"), url("/assets/fonts/basiersquare-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/*# sourceMappingURL=fonts.css.map */