/* line 31, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/variables.scss */
.bachata {
  color: #FDA219;
}

/* line 32, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/variables.scss */
.ballet {
  color: #FE94B9;
}

/* line 33, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/variables.scss */
.contemporaneo {
  color: #997FFF;
}

/* line 34, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/variables.scss */
.high-heels {
  color: #DF1552;
}

/* line 35, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/variables.scss */
.kizomba {
  color: #A72901;
}

/* line 36, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/variables.scss */
.latinas {
  color: #DD664D;
}

/* line 37, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/variables.scss */
.latinas-kids {
  color: #FF630C;
}

/* line 38, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/variables.scss */
.pop-dance {
  color: #55ADFF;
}

/* line 39, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/variables.scss */
.salsa {
  color: #4BCD4A;
}

/* line 3, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
body {
  background-color: #E2DCF9;
  overflow-x: hidden;
}

/* line 8, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
section {
  background: none;
}

/* line 13, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
header .container {
  padding-top: 20px;
  padding-bottom: 20px;
  background: black;
}

/* line 20, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article {
  display: grid;
  align-items: center;
  padding: 0px;
  padding-top: 160px;
}

/* line 26, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article h2 {
  text-align: left;
}

/* line 30, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article h6 {
  font-weight: 300;
  font-size: 0.7rem;
}

/* line 35, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article p {
  text-align: left;
}

/* line 39, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .article-title-section {
  text-align: center;
  padding: 30px;
}

/* line 43, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .article-title-section .article-title {
  font-size: 2rem;
}

/* line 46, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .article-title-section .article-publish {
  color: #836BD1;
  text-align: center;
}

/* line 52, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .article-description {
  padding-top: 15px;
  line-height: 2;
}

/* line 57, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .article-container {
  max-width: 900px;
  margin: 0 auto;
}

/* line 61, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .article-img {
  border-radius: 15px;
  max-width: 100%;
}

/* line 66, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .article-tag {
  padding: 14px 22px 14px 22px;
  border-radius: 7px;
  color: white;
  background-color: black;
}

/* line 72, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .article-tag:nth-child(1) {
  background-color: #A72901;
}

/* line 77, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .social-share {
  position: absolute;
  display: grid;
}

/* line 82, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .subgrid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  padding: unset;
}

/* line 86, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .subgrid {
  display: grid;
  gap: 10px;
  justify-content: center;
}

/* line 92, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .subgrid-3 {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: auto auto auto;
}

/* line 99, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .subgrid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  justify-content: center;
  grid-template-areas: ". about-us-img about-us-img about-us-img about-us-img . ";
}

/* line 107, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .subgrid-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 113, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .register-links {
  padding-top: 40px;
  padding-bottom: 60px;
}

/* line 117, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .register-links .section-mobile-a {
  font-weight: 600;
  padding: 30px;
}

/* line 122, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
.workshop-article .register-links .line-link {
  text-decoration: none;
  text-transform: none;
  font-size: 0.9rem;
  padding-bottom: 15px;
  color: #000000;
}

/* line 134, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
input[type=text] {
  background: none;
}

@media screen and (min-width: 320px) {
  /* line 146, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
  .container-section {
    padding: 30px 30px;
  }
}

@media screen and (min-width: 1024px) {
  /* line 155, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
  .container-section {
    padding: 50px 50px;
  }
}

@media screen and (min-width: 1920px) {
  /* line 169, ../../../Documents/GitHub/souldance-frontend-poc-v2/assets/styles/scss/workshop-article.scss */
  .container-section {
    max-width: 1600px;
  }
}

/*# sourceMappingURL=workshop-article.css.map */